langchain
langchain-community
langchain-google-genai
google-generativeai
faiss-cpu
pypdf
unstructured[local-inference]
python-magic
python-docx
langchain-unstructured
flask
pyngrok
flask-cors